* {
   font-weight: normal;
   font-family: Arial, Helvetica, sans-serif;
   margin: auto;
}
.row {
    display: flex;
}
.column1 {
    width: 30%;
    background: #FFC133;
}
.column2 {
    padding-top: 4%;
    width: 70%;
    margin-left: 5%;
}
.myname {
    padding-bottom: 2%;
}
.qualification {
    border-bottom: solid #FFC133;
    padding-top: 5%;
    padding-bottom: 1%;
}
.place {
    margin-left: 20%;
    width: 50%;
    padding-top: 4%;
    line-height: 1em;
}
.date {
    width: 20%;
}
.flex {
    display: flex;
}

.contact {
    padding: 15% 30% 15% 15%;
}

.aboutme {
    padding: 10% 15% 50% 15%;
}
.name {
    padding-bottom: 30%;
}
.info {
    background-color: black;
    color: #FFC133;
    text-align: center;
    margin-top: 5%;
}
.references {
    margin-top: 1%;
}
.ref {
    display: flex;
}
.profile {
   border-radius: 50%;
   padding: 10%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 20%; 
   width: 40%;
}
.hobbies { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    margin: auto;
}
.fas {
    border-radius: 50%;
    border-style: solid;
    border-width: .1em;
    padding: 10%;

}
.hobbie1 {
    padding: 5%;
}
.hobbie2{
    padding: 5%;
}
.hobbie3 {
    padding: 5%;
}
img {
    width: 4%;
    padding-right: 2%;
}
h3 {
    display: inline;
}
.line {
    border-bottom: solid;
    border-color: #FFC133;
    border-width: 2px;
}

@media screen and (max-width:768px) {
    .row {
        flex-direction: column;
    }
    .column1 {
        width: 100%;
    }
    .profile {
        border-radius: 50%;
        padding: 5%;
        display: block;
        width: 30%;
        height: 10%;
    }
     .contact {
        padding: 5%;
        
    }
    .aboutme {
        padding: 5%;
    }
}
