body {
   margin: auto;
   font-family: sans-serif;
}
.row, .flex {
    display: flex;
}
.column1 {
    width: 40%;
    background: #FFC133;
    height: 100%;
}
.column2 {
    width: 60%;
    margin-left: 5%;
}
.myname {
    padding-bottom: 1%;
}
.qualification {
    border-bottom: solid #FFC133;
    padding-top: 1%;
    padding-bottom: 1%;
}
.place {
    margin-left: 10%;
    width: 85%;

}
.date {
    width: 15%;
}
.contact {
    padding-left: 5%;
    padding-bottom: 20%;
}

.aboutme {
    padding: 5% 5% 20% 5%;
}
.info {
    background-color: black;
    color: #FFC133;
    text-align: center;
    margin-top: 5%;
}
.ref {
    display: flex;
}
.profile {
   border-radius: 50%;
   padding: 20%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
}
.hobbies { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}
.fas {
    border-radius: 50%;
    border-style: solid;
    border-width: .1em;
    padding: 10%;
}
.hobbie1 {
    padding: 10%;
}

h3 {
    display: inline;
}
.line {
    border-bottom: solid;
    border-color: #FFC133;
    border-width: 2px;
}
.icon {
    height: 20px;
}
.references1 {
    padding-right: 20%;
}
@media screen and (max-width:768px) {
    .row {
        flex-direction: column;
    }
    .column1, .column2 {
        width: auto;
    }
    .profile {
        padding: 5%;
        width: 25%;
    }
    .contact {
        padding: 10px 10px 20px 10px;
    }
    .aboutme {
        padding: 10px 10px 20px 10px;
    }
    .myname {
        padding-top: 2%;
    }
}

